body {
    background-color: aqua;
    margin: 100px;
}
table{
    border: 3px solid black;
}
.thead{
    border: 1px solid black;
    background-color: rgba(0, 0, 255, 0.078);

}
td{
    border: 1px solid black;
}